@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --blue-dark: rgb(43, 58, 78);
  --color-1: rgb(43, 58, 78);
  --color-1-light: rgb(46, 88, 107);
  --color-2: rgb(236, 50, 17);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--gray-dark);
  font-family: "Roboto", sans-serif;
}

h1 {
  padding: 15px 0px;
  font-weight: 400;
  color: var(--blue-dark);
}

h2 {
  padding: 10px 0px;
  font-weight: 300;
}

h3 {
  padding: 10px 0px;
  font-weight: 400;
  font-size: 1.4em;
}

h4 {
  padding: 10px 0px;
  font-weight: 400;
  font-size: 1.1em;
}

p,
th,
tr,
td,
label,
a {
  font-size: 0.9em;
}
/* FONT COLOR CLASSES*/

.color-2 {
  color: var(--color-2);
}

.color-1-light {
  color: var(--color-1-light);
}

.row {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-container {
  width: 100%;
  padding: 0;
  overflow-x: auto;
}

.editor-row {
  padding: 20px 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.section-title {
  margin-top: 60px;
}

.component-explanation {
  font-size: 0.7em;
  font-style: italic;
  color: var(--info);
  padding: 5px 0px;
}

.journal-cards-container {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 10px;
  max-height: 100vh;
  overflow-y: auto;
}
.journal-card {
  box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.journal-card-header {
  font-size: 0.8em;
}
.journal-card-body {
  font-size: 1em;
}

.project-card {
  margin: 20px 0px;
}

.project-card-header {
  background-color: var(--dark);
  color: white;
  padding: 0px;
}

.project-card-title {
  color: white;
  padding: 5px;
  margin: 0;
  font-size: 1.2em;
}

form {
  padding: 20px 0px;
}
