* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  padding: 40px 10px;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  padding: 20px 5px;
  color: rgb(17, 92, 122);
}

h3 {
  font-size: 1.4em;
  padding: 20px 5px;
  color: rgb(10, 131, 70);
}

h4 {
  font-size: 1.2em;
  padding: 20px 5px;
  color: rgb(11, 114, 62);
}

/* Text Colors*/

label {
  padding: 5px 5px;
}

input[type="text"] {
  padding: 2px 2px;
}

.center-col-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.row-custom-settings {
  box-sizing: border-box;
  padding: 0px 10px;
  margin: 0px;
  /* min-height: 80vh; */
}

.min-h-80 {
  min-height: 80vh;
}

.min-h-100 {
  min-height: 100vh;
}

.block-btn {
  margin: 5px 0px;
}
/* TEMPLATE EDITOR */
.template-preview-cont {
  border: solid;
  border-color: black;
  border-width: 1px;
  padding: 10px;
}

.template-box {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.section-config-box {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0px 2px 8px 1px rgba(0, 0, 0, 0.1);
}
